<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
  <div class = "body">
    <h1>Welcome to the Gossip Project 2.0</h1>
    <div>
      <p>New features:
        <ul>
          <li>We are now on Postgresql</li>
          <li>We have a seeded db</li>
          <li>We are also on rails</li>
        </ul>
      </p>
    </div>

    <p>Have a look at our burning hot GOSSIPS !</p>
    <p>Click on the contect to see the gossip individually</p>

    <div class = "d-flex flex-wrap justify-content-around">
      <% Gossip.all.each do |g| %>
        <% stamp = g.created_at.to_date %>
        <div class="card col-md-3.05" style="width: 250px;">
          <div class="card-body flex-direction-column justify-content-between">
            <div class= 'col'>
              <h5 class="card-title">"<%= g.content %>"</h5>
              <p  class="card-text">Gossip <%= g.id %></p>
            </div>
            <div class = 'col'>
              <a href="/gossip/<%=g.id %>" class="btn btn-primary">See Gossip</a>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</body>
