<!DOCTYPE html>
<html lang="en">
<head>
  <!--Bootstrap theme link and navbar in layouts/application.html.erb-->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
  <div class = "body">
    <h1>Welcome to the Gossip Project 2.0</h1>
    <div>
      <p>New features:
        <ul>
          <li>We are now on Postgresql</li>
          <li>We have a seeded db</li>
          <li>We are also on rails</li>
        </ul>
      </p>
    </div>

    <% n = Gossip.all.length%>
    <% if current_user %>
      <p>Have a look at our <%= n%> burning hot GOSSIPS or <a href="/gossips/new">create one of your own</a>!</p>
    <% else %>
      <p>Have a look at our <%= n%> burning hot GOSSIPS or <a href="/sessions/new">log in</a> to create your own!</p>
    <% end %>
    <p><br><br></p>
    <div class = "d-flex flex-wrap flex-wrap-reverse justify-content-around">
      <%= render partial: "gossips/list", locals:{gossips: Gossip.all}%>
    </div>
  </div>
</body>
