<ul class="list-group" style="width:30%">
  <li class="list-group-item "><a href="/users/<%= c.author_id%>"><%=User.all.find(c.author_id).first_name %></a> says on <%= c.created_at.to_date%></li>
  <li class="list-group-item ">"<%= c.content%>" <br/><br /><a href="#  ">Modify</a><br/><a href="#">Delete</a></li>
</ul>
