<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>

<body>
  <div class = "body">
    <h1>Welcome to the Tag n°<%= @id%></h1>
    <div>
      <p>Tag title: <%=Tag.find(@id).title%><br><br>
        <%joins = JoinTableGossipTag.all.where(tag_id:@id)%>
        <%joins.each do |j|%>
          <a href= "/gossip/<%=j.gossip_id%>"><%= Gossip.find(j.gossip_id).content%></a><br>
        <%end%>
      </p>
    </div>
  </div>
</body>
